@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --primary: #000000;
    --secondary: #404040;
    --lighter-gray: #71717A;
    --white: #ffffff;
}

html{
    scroll-padding-top: 5rem;
}

* {
    font-family: "Sora", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all;
    transition-duration: 0.2s;
    scroll-behavior: smooth;
}
.text-outline {
    color: white; /* Text color */
    text-shadow: 
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000; /* Outline color */
}

h1 {
    font-size: 48px !important;
}

h2 {
    font-size: 32px !important;
}

h3 {
    font-size: 28px !important;
}

h4 {
    font-size: 20px !important; 
}

p {
    font-size: small;
    color: var(--secondary);
}

section {
    padding-inline: 7%;
    padding-block: 4rem;
    text-align: center;

}

.primary-btn {
    all: unset;
    background: var(--primary);
    color: var(--white);
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    border-radius: 4px;
    margin-inline: auto;
    cursor: pointer;
    font-size: smaller;
}

.primary-btn:hover {
    background: var(--secondary);
}

.container {
    width: 90%;
    margin-inline: auto;
}



/* Medium device */
@media (max-width: 768px) {}


/* Small device */
@media (max-width: 640px) {
    h1 {
        font-size: 30px !important;
    }
    
    /* h2 {
        font-size: 32px !important;
    }
    
    h3 {
        font-size: 28px !important;
    }
    
    h4 {
        font-size: 20px !important; 
    } */
}